html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
  /* background-position: center; */
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

body {
  color: var(--primary-txt-color, #757575); /**/
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  background: var(--white-txt-color, #ffffff);
}
li {
  list-style-type: none;
}

/* Отменяем подчеркивание у ссылок 
         задаём параметры шрифтов*/
a {
  text-decoration: none;
  color: var(--secondary-link-color, #212121);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
