@mixin socicon($colorTXT, $colorBg:#ffffff10) {
    fill: $colorTXT;
    background-color: $colorBg;
    color: $colorTXT;
} 
.developers {

    background-color: $colorBg-secondary;
    // $col-soc-icon: $colorTxt-socialLink;
    $colsocicon: $colorTxt-accent;

    &__title{
        color: $colorTxt-secondary;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        padding-bottom: 50px;
    }

    //&team-card__position

    &__list{
        display: flex;
        justify-content: space-between;
    }
}
