
/**/

.modal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(100%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 260ms linear, opacity 260ms linear;
}

.btn-modal {
  outline-style: none;
  padding: 0;
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #00000033;
  background-color: #ffffff;
}

.close-form {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  /* fill: #212121; */
  transition: fill 260ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-modal:focus,
.close-form:focus,
.close-form:hover {
  fill: #2196f3;
  cursor: pointer;
}

.modal > b {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  transition: after 260ms cubic-bezier(0.4, 0, 0.2, 1);
}


[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::after {
    content: attr(data-tooltip);
    /* <abbr title="I'm small tooltip. Don't kill me!">Hover me!</abbr> */
    position: absolute;
    right: 0; top: 0;
    color: #2196f360;
    pointer-events: none;
    opacity: 0;
   } 
   [data-tooltip]:hover::after {
    opacity: 1;
    top: 54px; transition: 5s;
   }

.modal > ul > li input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  ///* #2196F3 */
  padding-left: 40px;
  transition: border 260ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-textarea,
.modal > ul > li {
  position: relative;
}

.modal > ul > li + li {
  margin-top: 28px;
}

// .cont-textarea > label,
.modal > ul > li label {
  position: absolute;
  left: 60px;
  top: 12px;
  transform: translate(0%, 0%) scale(150%);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color:  #c4c4c4;
  left: 60px;
  transition: color 260ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 260ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.icon-modal {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 10px;
  fill: #212121;
  transition: fill 260ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-textarea > label {
  position: absolute;
  transform: translate(0%, 0%) scale(150%);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color:  #c4c4c4;
  top: 13px;
  left: 60px;
  transition: transform 260ms  cubic-bezier(0.4, 0, 0.2, 1), color 260ms linear;
}
.modal > div > textarea {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 28px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  padding-left: 40px;
  padding-top: 10px;
  overflow: hidden;
  resize:none;
  transition: border 260ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-textarea > textarea:focus + label,
.cont-textarea > textarea:not(:placeholder-shown) + label,
.modal > ul > li input:not(:placeholder-shown) + label,
.modal > ul > li input:focus + label {
  outline-style: none;
  /* color: #c4c4c4; */
  transform: translate(-60px, -30px) scale(100%);
}

.cont-textarea > textarea::placeholder,
.modal > ul > li input::placeholder {
  outline-style: none;
  color: #2196f3;
  opacity: 0;
  transform: translate(-220px, 0);
  transition: transform 260ms  cubic-bezier(0.4, 0, 0.2, 1), color 260ms cubic-bezier(0.4, 0, 0.2, 1), opacity 560ms linear;
}
 
.cont-textarea > textarea:focus::placeholder,
.modal > ul > li input:focus::placeholder {
  outline-style: none;
  color: #afb1b8;
  opacity: 1;
  transform: translate(0, 0);
}

.cont-textarea > textarea:focus,
.cont-textarea > textarea:hover,
.modal > ul > li input:focus,
.modal > ul > li input:hover {
  outline-style: none;
  border-color: #2196f3;
}

.cont-textarea > textarea:hover + label,
.cont-textarea > textarea:focus + label,
.modal > ul > li input:focus + label,
.modal > ul > li input:hover + label {
  outline-style: none;
  color: #2196f3;
}

.modal > ul > li input:focus ~ .icon-modal,
.modal > ul > li input:hover ~ .icon-modal {
  fill: #2196f3;
}

.modal > button[type="submit"] {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  padding: 10px 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  transition: background-color 260ms cubic-bezier(0.4, 0, 0.2, 1),
    border 260ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal > button[type="submit"]:hover {
  background: #188ce8;
  cursor: pointer;
}
.modal__checkbox{
display: flex;
}

.check-modal {
  display: flex;
  cursor: pointer;
  
}
.checkbox {
  appearance: none;
  display: inline-block;
}

.icon-check {
  display: inline-block;
  align-self:center;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #ffffff;
  transition: background-color 260ms cubic-bezier(0.4, 0, 0.2, 1),
    border 260ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.checkbox:focus + .icon-check,
.checkbox:hover + .icon-check {
  border: 2px solid #2196f3;
  
}

.checkbox:checked + .icon-check {
  background-color: #2196f3;
  border: 2px solid #2196f3;
  background-image: url(../images/icon/svgM/Vector1.svg);
}

.modal__us {
  color: #2196f3;
  text-decoration:none;
  margin-left: 10px;
  transition: all 1260ms cubic-bezier(0.4, 0, 0.2, 1)
  /* , text-decoration 1260ms cubic-bezier(0.4, 0, 0.2, 1) */
  ;
}
.modal__us:hover {
  color: #188ce8;
  text-decoration: underline;
  cursor: pointer;
  
}
