@import '../mainmod.scss';
// socialLink $colorTxt-socialLink
.social{
    display: flex;
    justify-content: space-between;
    
    width: 208px;
    height: 44px;

    &__link{
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        @include socicon($colorTXT: $colsocicon);
    }

    &__link:focus,
    &__link:hover {
      background-color: $colorTxt-accent;
      color: #ffffff;
      fill: #ffffff;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}
